{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Fredoka+One&family=Rock+Salt&display=swap" rel="stylesheet">

    <link href="{% static 'blog/main.css' %}" rel="stylesheet">
    <link href="{% static 'blog/gallery.css' %}" rel="stylesheet">

	{% if title %}
		<title>Azeez Blog - {{title}}</title>
	{% else %}
		<title>Azeez Blog</title>
	{% endif %}
</head>
<body>
	<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="about/">About</a>
	    </div>
	  </div>
	</nav> -->
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #696762; font-family: 'Rock Salt', cursive; font-size: 43;">
      <a class="navbar-brand" href="/">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	      	<div class="navbar-nav mr-auto">
	      		{% if user.username ==  'azeez' %}
	      			<a class="nav-item nav-link active" href="{% url 'blog-home' %}">Home<span class="sr-only">(current)</span></a>
	      		    <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
      		    {% endif %}
      		    <a class="nav-item nav-link" href="{% url 'gallery' %}">Gallery</a>
      		    {% if user.is_authenticated %}
      		    	<a class="nav-item nav-link" href="{% url 'new_post' %}">Post Photo</a>
      		    {% endif %}
	      	</div>
	      	<div class="navbar-nav ml-auto">
      			{% if user.is_authenticated %}
      				{% if user.username ==  'azeez' %}
		      			<a class="nav-item nav-link" href="{% url 'post-create' %}">New Blog Post</a>
		      			<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
		      		{% endif %}
	      			<a class="nav-item nav-link" href="{% url 'personal-saves' %}">4ME</a>
	      			<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
	      		{% else %}
	      			<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
	      			<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
	      		{% endif %}
	      	</div>
	      </div> 
    </nav>
    <ul class="nav justify-content-center" style="font-family: 'East Sea Dokdo', cursive; font-size: 40px">
      <li class="nav-item">
          <a class="dropdown-item" href="{% url 'gallery-param' order='old-to-new' %}">Old to New</a>
      </li>
      <li class="nav-item">
          <a class="dropdown-item" href="{% url 'gallery-param' order='new-to-old' %}">New to Old</a>
      </li>
      <li class="nav-item">
          <a class="dropdown-item" href="{% url 'gallery-param' order='most-motivated' %}">Most Motivated</a>
      </li>
    </ul>
    <main role="main" style="margin: 10px; padding:5px;">
    		<div class="row-f" style="font-family: 'Fredoka One', cursive;"> 
    		  <div class = "column-f">
    		  	{% for photo in photos %}
    		  		{% if forloop.counter < lower_third %}
	    		  		<div class = "gallery-pic-and-vote">
	    		  			<div class = "gallery-container custom-shadow">
				  	  			<a href="{% url 'photo-detail' photo.id %}">
			    		    	<img class = "gallery-image" src="{{photo.image.url }}" style="width:100%">
			    		    	<div class="gallery-middle">
				    		    	<!-- <div class="gallery-text">John Doe</div> -->
			    		    	</div>
			    		    	<div class = "motivation-score-sm"></div>
				  	  		</div>
				  	  		<div class = "row motivate-row ml-auto">
	  	  				  	  		{% if user.is_authenticated and user not in photo.total_votes.all %}
	  	  					  	  		<a class = "motivate-btn btn btn-sm btn-outline-secondary btn-block" href="{% url 'photo-vote' pk=photo.id %}" style = "text-align:left; max-width:73%;">
	  	  					  	  			Retract Motivation
	  	  					  	  			<span class="badge badge-secondary motivate-score" style = "font-size: 15px">{{photo.total_votes.count}}</span>
	  	  					  	  		</a>
	  	  					  	  	{% else %}
	  	  					  	  		<a class = "motivate-btn btn btn-sm btn-light btn-block" href="{% url 'photo-vote' pk=photo.id %}" style = "text-align:left; max-width:73%;">
	  	  					  	  			Retract
	  	  					  	  			<span class="badge badge-secondary motivate-score" style = "font-size: 15px">{{photo.total_votes.count}}</span>
	  	  					  	  		</a>
	  	  					  	  	{% endif %}
  	  			  	  			{% if user.is_authenticated and user not in photo.saved_by.all %}
  	  			  	  				<a class = "save-from-gallery btn btn-sm btn-outline-success" href="{% url 'photo-save' pk=photo.id %}" style = "text-align:center">
  	  			  	  					4ME</a>
  	  			  	  			{% elif user.is_authenticated %}
  	  			  	  				<a class = "save-from-gallery btn btn-sm btn-secondary" href="{% url 'photo-save' pk=photo.id %}" style = "text-align:center;">
  	  			  	  					claimed</a>
  	  			  	  			{% endif %}
				  	  		</div>
	    		  		</div>
    		    	{% endif %}
    		    {% endfor %}
    		  </div>
    		  <div class = "column-f">
    	  	  	{% for photo in photos %}
    	  	  		{% if forloop.counter >= lower_third and forloop.counter < upper_third %}
		    		  	<div class = "gallery-pic-and-vote">
	    		  			<div class = "gallery-container custom-shadow">
				  	  			<a href="{% url 'photo-detail' photo.id %}">
			    		    	<img class = "gallery-image" src="{{photo.image.url }}" style="width:100%">
			    		  
			    		    	<div class = "motivation-score-sm"></div>
				  	  		</div>
				  	  		<div class = "row motivate-row ml-auto">
	  	  				  	  		{% if user.is_authenticated and user not in photo.total_votes.all %}
	  	  					  	  		<a class = "motivate-btn btn btn-sm btn-outline-secondary btn-block" href="{% url 'photo-vote' pk=photo.id %}" style = "text-align:left; max-width:73%;">
	  	  					  	  			Motivate
	  	  					  	  			<span class="badge badge-secondary motivate-score" style = "font-size: 15px">{{photo.total_votes.count}}</span>
	  	  					  	  		</a>
	  	  					  	  	{% else %}
	  	  					  	  		<a class = "motivate-btn btn btn-sm btn-light btn-block" href="{% url 'photo-vote' pk=photo.id %}" style = "text-align:left; max-width:73%;">
	  	  					  	  			Retract Motivation
	  	  					  	  			<span class="badge badge-secondary motivate-score" style = "font-size: 15px">{{photo.total_votes.count}}</span>
	  	  					  	  		</a>
	  	  					  	  	{% endif %}
  	  			  	  			{% if user.is_authenticated and user not in photo.saved_by.all %}
  	  			  	  				<a class = "save-from-gallery btn btn-sm btn-outline-success" href="{% url 'photo-save' pk=photo.id %}" style = "text-align:center">
  	  			  	  					4ME</a>
  	  			  	  			{% elif user.is_authenticated %}
  	  			  	  				<a class = "save-from-gallery btn btn-sm btn-secondary" href="{% url 'photo-save' pk=photo.id %}" style = "text-align:center;">
  	  			  	  					claimed</a>
  	  			  	  			{% endif %}
				  	  		</div>
	    		  		</div>
    		    	{% endif %}
    	  	    {% endfor %}
    		  </div>
		  	  <div class = "column-f">
		  	  	{% for photo in photos %}
		  	  		{% if forloop.counter >= upper_third%}
			  	  		<div class = "gallery-pic-and-vote">
	    		  			<div class = "gallery-container custom-shadow">
				  	  			<a href="{% url 'photo-detail' photo.id %}">
			    		    	<img class = "gallery-image" src="{{photo.image.url }}" style="width:100%">
			    		    	<div class="gallery-middle">
<!-- 				    		    	<div class="gallery-text">John Doe</div>
 -->			    		    	</div><!--  -->
			    		    	<div class = "motivation-score-sm"></div>
				  	  		</div>
				  	  		<div class = "row motivate-row ml-auto">
	  	  				  	  		{% if user.is_authenticated and user not in photo.total_votes.all %}
	  	  					  	  		<a class = "motivate-btn btn btn-sm btn-outline-secondary btn-block" href="{% url 'photo-vote' pk=photo.id %}" style = "text-align:left; max-width:73%;">
	  	  					  	  			Motivate
	  	  					  	  			<span class="badge badge-secondary motivate-score" style = "font-size: 15px">{{photo.total_votes.count}}</span>
	  	  					  	  		</a>
	  	  					  	  	{% else %}
	  	  					  	  		<a class = "motivate-btn btn btn-sm btn-light btn-block" href="{% url 'photo-vote' pk=photo.id %}" style = "text-align:left; max-width:73%;">
	  	  					  	  			Retract Motivation
	  	  					  	  			<span class="badge badge-secondary motivate-score" style = "font-size: 15px">{{photo.total_votes.count}}</span>
	  	  					  	  		</a>
	  	  					  	  	{% endif %}
  	  			  	  			{% if user.is_authenticated and user not in photo.saved_by.all %}
  	  			  	  				<a class = "save-from-gallery btn btn-sm btn-outline-success" href="{% url 'photo-save' pk=photo.id %}" style = "text-align:center">
  	  			  	  					4ME</a>
  	  			  	  			{% elif user.is_authenticated %}
  	  			  	  				<a class = "save-from-gallery btn btn-sm btn-secondary" href="{% url 'photo-save' pk=photo.id %}" style = "text-align:center;">
  	  			  	  					claimed</a>
  	  			  	  			{% endif %}
				  	  		</div>
	    		  		</div>
    		    	{% endif %}
		  	    {% endfor %}
		  	  </div>
    		</div>
    </main>
	
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>