{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<h1>Gallery</h1>
	<link href="{% static 'blog/gallery.css' %}" rel="stylesheet">

	<!-- {% for photo in photos%} -->
		<!-- <div class="col-md-12 div-photo">
			<a class="col-xs-12 col-sm-6 col-lg-4 thumb" href="{% url 'photo-detail' photo.id %}">
				<img src="{{photo.image.url }}" style="display: block;height:100% !important; width:100% !important;" > -->
				
				<!-- <span class="photo-label">{{photo.description}}</span></a> -->

			<!-- <img src="{{photo.image.url}}" height=900 width=1200>
			<div class="media-body">
				<div class = "article-metadata">
					<a class="mr-2" href = "#">{{photo.author}}</a>
					<small class="text-muted">{{ photo.created|date:"F d, Y" }}</small>
				</div>
				<h2><a class="article-title" href="{% url 'photo-detail' photo.id %}"> {{ photo.id }}</a></h2>
				<p class="article-content"> {{ photo.description }}</p>
			</div> -->
	<!-- {% endfor %} -->
	
	<div class="row-f"> 
	  <div style = "width: 48%; float: left;">
	  	{% for photo in photos%}
	    	<img src="{{photo.image.url }}" style="width:100%">
	    {% endfor %}
	  </div>
	  <div style="margin-left: 52%;">
  	  	{% for photo in photos%}
  	    	<img src="{{photo.image.url }}" style="width:100%">
  	    {% endfor %}
	  </div>
	 
	</div>
	
{% endblock content %}