{% extends 'blog/base.html' %}
{% block content %}
	<div class='justify-content-center div-detail-photo' style = "bottom-margin:100px">
		<img src="{{ object.image.url }}">
	</div>
	<!-- <div class=' col-md-6 justify-content-center'> -->
		<div class = "row justify-content-center">
			<div class = "col-md-3">
				<strong>By: {{object.author.username }}</strong><br>
				<p><em>{{ object.created|date:"F d, Y" }}</em><br>{{ object.description }}</p>
			</div>
			<div class = "col-md-3 detail-buttons">
				{% if user.is_authenticated and saved_by_this_user %}
					<a class = "btn btn-secondary btn-sm mt-1 mb-1" style="float:left" href="{% url 'photo-save' object.id %}">Un-Save</a>
				{% else %}
					<a class = "btn btn-primary btn-sm mt-1 mb-1" style="float:left" href="{% url 'photo-save' object.id %}">Save</a>
				{% endif %}
				
				{% if object.author == user %}
					<a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'photo-delete' object.id %}">Delete</a>
				{% endif %}
			</div>
		</div>
	<!-- </div> -->


	<div class = "content">
		<h3>Critiques and Reactions: </h3>
		<ul class = "list-group" style="list-style-type: none;">
			{% for comment in object.comment_set.all %}
			<li class="list-group-item">>
					<strong>{{comment.author}}</strong> {{comment.text}}
			</li>
			{% endfor %}
		</ul>
	</div>	
	<form action="{% url 'photo-detail' pk=object.id %}" method="POST">
		{% csrf_token %}
		{{comment_form.as_p}}		
<!-- 	post = models.ForeignKey(Photo, on_delete=models.CASCADE)
	text = models.TextField()
	author = models.ForeignKey(User, on_delete=models.CASCADE)
	created = models.DateTimeField(auto_now_add=True)
	modified = models.DateTimeField(auto_now=True) -->
		<input type="submit" value="Comment">
	</form>
{% endblock %}